<!DOCTYPE html>
<html  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="htpp://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>Login</title>
</head>

<body>
<div class="main-container">
    <h1>Login</h1>

    <p>New here? Click <a th:href="@{/register}">here</a> to register.</p>

    <p th:if="${loginError}"><span class="validationError">Wrong username or password</span></p>

    <form method="POST" action="login" id="loginForm">
        <div>
            <label class="form-label"> Username: </label>
            <input type="text" name="username" class="form-control"/><br/>
        </div>

        <div>
            <label class="form-label">Password: </label>
            <input type="password" name="password" class="form-control"/><br/>

            <input type="submit" value="Login" class="btn btn-primary"/>
        </div>
    </form>
</div>
</body>
</html>