<!DOCTYPE html>
<html  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="htpp://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <title>Register</title>
  <link th:rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<div>
  <h1>Register</h1>

  <p>Already have an account? Click <a th:href="@{/login}">here</a> to login.</p>

  <form method="POST" th:action="@{/register}" id="registerForm" th:object="${form}">

    <div>
      <label class="form-label">Username:
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Error</span>
      </label>
      <input type="text" th:field="*{username}" class="form-control"/><br/>
    </div>

    <div>
      <label>Password:
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Error</span>
      </label>
    </div>
    <input type="password" th:field="*{password}" class="form-control"/><br/>

    <input type="submit" value="Register" class="btn btn-primary"/>
  </form>
</div>

</body>
</html>